body {
    background-color:antiquewhite;
}

.book-image {
    width: 300px;
    height: 250px;
}



.model-window-signIn {
    display: none;
    border: black sloid 1px;
}

.form-authorisation {
    display: flex;
    width: 500px;
    height: 100px;
    flex-direction: column;
    justify-content:space-between;
}

.model-window-signIn-open {
    display: flex;
    position: fixed;
    z-index: 2;
    top: 50%;
    right: 40%;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(4px);
    flex-direction: column;
}

.msg-signIn {
    display: none;
    border: 2px yellow solid;
    font-weight: bold;
}

.show-message {
    display: block;
}

.error {
    border-bottom: 4px solid red;
}

.model-window-detail-book {
    display: none;
    width: 800px;
    height: 800px;
    border: black solid 1px;
}

.form-registration {
    display: flex;
    width: 500px;
    height: 100px;
    flex-direction: column;
    justify-content:space-between;
}

.model-window-login{
    display: none;
}

.model-window-login-open {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    top: 50%;
    right: 40%;
}

.cross-style {
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 2;
    left: 100%;
    border: none;
}

.cross-style:hover{
    background-color: brown;
}

.unvisible {
    display: none;
}